* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

@font-face {
    font-family: ShopifySans, Helvetica, Arial, "Lucida Grande", sans-serif;
    src: url(../fonts/ShopifySans--bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: ShopifySans, Helvetica, Arial, "Lucida Grande", sans-serif;
    src: url(../fonts/ShopifySans--regular.woff2);
    font-weight: 400;
}

body{
    font-family: ShopifySans, Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    width: 100%;
    overflow-x: hidden;
}

#gratuita{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a5e3b9;
    font-size: 17px;
    color: black;
    padding: 20px 0px;
    text-align: center;
}

#gratuita a{
    color: black;
    font-weight: 700;
}

#gratuita p a:hover{
    text-decoration: none;
}

#gratuita button{
    cursor: pointer;
    margin-left: 18px;
    background-color: transparent;
}

#logo{
    text-align: center;
    padding: 30px 0px;
}

main{
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221440%22%20height%3D%22661.1%22%20viewBox%3D%220%200%201440%20661.1%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2C%20ellipse%2C%20line%2C%20path%2C%20polygon%2C%20polyline%2C%20rect%2C%20text%20%7B%20fill%3A%20rgb%280%2C%20128%2C%2096%29%20%21important%3B%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22rgb%280%2C%20128%2C%2096%29%22%20d%3D%22M1440%20488c-19.3%204.3-39.2%208.6-60%2013-174.2%2036.5-228.8%20288-467%2076.2-153.6-136.6-424-22.8-660.4-5.8-130.2%209.3-252.6-75-252.6-75V0h1440%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-size: auto 73rem;
}

#cartao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 290px 20px 290px;
}

#cartao h1{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    line-height: 73px;
}

#cartao h2{
    font-size: 30px;
    color: #fff;
    line-height: 40px;
    font-weight: 400;
    margin: 15px 0px;
}

#cartao input{
    height: 50px;
    width: 450px;
    padding: 20px;
    border-radius: 3px;
    font-size: 16px;
    color: black;
    margin-bottom: 8px;
}

#cartao button{
    height: 50px;
    width: 450px;
    color: white;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    background-color: #212326;
    border-radius: 3px;
    margin-bottom: 20px;
}

#cartao p{
    font-size: 12px;
    line-height: 18px;
    color: white;
}

#informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#informacoes img{
    width: 60%;
    height: 60%;
}

#descricao{
    display: flex;
    padding: 30px;
    justify-content: center;
    margin: 80px 150px 60px 160px;
    gap: 15px;
}

#descricao img{
    width: 44px;
    height: 44px;
}

#descricao h1{
    font-size: 18px;
    line-height: 24px;
    color: #212326;
    font-weight: 700;
}

#descricao {
    color: #6b7177;
    font-size: 16px;
    line-height: 24px;
}

#patrocinador{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 15%;
    border-top: 1px solid #d2d5d9;
    border-bottom: 1px solid #d2d5d9;
    padding: 50px 0px;
    gap: 32px;
}

#patrocinador img{
    width: 76px;
    height: 30px;
}

#final{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px 50px 80px 50px;
    gap: 30px;
}

#final h1{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #212326;
}

#final h2{
    font-size: 14px;
    line-height: 16px;
    color: #42474c;
    font-weight: 700;
}

#final button{
    height: 50px;
    width: 280px;
    color: white;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    background-color: #008060;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
}

footer{
    display: flex;
    justify-content: flex-end;
    margin-right: 6%;
}

footer a{
    color: #008060;
    line-height: 24px;
    font-size: 16px;
    text-decoration: none;
    margin: 10px;
}


@media (max-width: 1024px) {
    main{
        background-size: auto 63rem;
    }
    #cartao h1{
        font-size: 45px;
        width: 90vw;
    }

    #cartao h2{
        width: 95vw;
    }
}

@media (max-width: 768px) {
    main{
        background-size: auto 45rem;
    }
    #gratuita p{
        line-height: 30px;
    }
    #cartao h1{
        font-size: 30px;
        line-height: 40px;
    }
    #cartao h2{
        font-size: 25px;
        line-height: 30px;
    }

    #cartao p{
        width: 100vw;
    }
    #cartao input, #cartao button{
        width: 90vw;
    }
    #descricao{
        margin: 50px 20px 0px 20px;
    }
    #final h1{
        font-size: 20px;
    }
    footer{
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
}

@media (max-width: 595px) {
    #cartao{
        margin: 30px 0px;
    }
    #descricao{
        display: flex;
        flex-direction: column;
    }
}
