*{
    padding: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap');
@font-face {
    font-family: 'Impact Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Impact Regular'), url('./fonts/impact.woff') format('woff');
}

body{
    background-color: #1B1A17;
    font-family:  'Inconsolata', monospace;;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    border-bottom: 2px solid #131211;
}

nav xmp{
    font-family: 'Impact Regular';
    line-height: 39px;
    font-size: 32px;
    letter-spacing: 2px;
    color: #FF8303;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 55px;
}

nav a{
    font-size: 20px;
    color: #F0E3CA;
    text-decoration: none;
    font-weight: 700;
}

nav a:hover{
    color: #FF8303;
}

#informacao{
    display: flex;
    align-items: center;
    margin: 20px 0px 40px 0px;
}

#sobre{
    display: flex;
    flex-direction: column;
    padding: 20px 150px 20px 120px;
    gap: 16px;
}

#sobre h1{
    font-weight: 900;
    color: #FF8303;
    font-size: 60px;
    line-height: 67px;
}

#sobre h2{
    font-weight: 700;
    color: #F0E3CA;
    font-size: 36px;
    line-height: 42px;
}

#sobre h3{
    font-weight: 400;
    color: #F0E3CA;
    font-size: 18px;
    line-height: 21px;
}

#codigo{
    margin-top: 40px;
    
}

#codigo span{
    color: #A35709;
    opacity: 0.5;
}


#historia{
    border-top: 2px solid #131211;
    border-bottom: 2px solid #131211;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 80px;
}

#historia h1{
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    color: #F0E3CA;
}

#minhas-habilidades{
    border-bottom: 2px solid #131211;
}

#minhas-habilidades h1.titulo{
    font-size: 32px;
    font-weight: 700;
    color: #FF8303;
    text-align: center;
    line-height: 34px;
    padding: 50px;
}

#habilidades{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #21201D;
    height: 300px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.card h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: #fff;
    padding-top: 20px;
}

.card img.hover{
    display: none;
}

.card:hover > img.normal{
    display: none;
}

.card:hover > img.hover{
    display: block;
}

#projetos{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    height: 300px;
}

#projetos h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    color: #FF8303;
}

footer{
    padding: 50px 0;
    border-top: 2px solid #131211;
    display: flex;
}

#msg{
    display: flex;
    flex-direction: column;
    margin-left: 220px;
    margin-right: 80px;
    gap: 10px;
}

#msg xmp{
    font-family: 'Impact Regular';
    line-height: 39px;
    font-size: 26px;
    letter-spacing: 3px;
    color: #FF8303;
}

#msg h2{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F0E3CA;
}

#contatos{
    display: flex;
    flex-direction: column;
    
    width: 530px;
    gap: 20px;
}

#contatos h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #FF8303;
}

#contatos ul{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    list-style-type: none;
    gap: 20px;
}

#contatos li{
    display: flex;
    align-items: center;
    gap: 10px;
}

#contatos a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FF8303;
}

#contatos a:hover{
    text-decoration: underline;
}

#contatos img{
    Width: 27px;
    Height: 25px;
}