* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 800;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 900;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}

body{
    background-image: url("../img/fundo.jpg");
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
}

#logo img{
    width: 165px;
    height: 45px;
    margin: 25px 0 0px 45px;
}

#loginpage{
    background-color: rgba(0,0,0,.75);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 550px;
    width: 450px;
    margin: 0 auto;
    padding: 50px;
    gap: 20px;
    margin-top: 20px
}

#loginpage h1{
    color: white;
    text-align: left;
    font-size: 32px;
    font-weight: 600;
}

#loginpage input#login,#senha{
    height: 50px;
    background-color: #333;
    border-radius: 4px;
    font-size: 16px;
    justify-content: center;
    padding: 10px;
}

#loginpage button#entrar{
    height: 50px;
    color: white;
    background-color: #e50914;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}
#loginpage label, a{
    color: #b3b3b3;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    width: 150px;
}

#ajuda{
    margin-left: 80px;

}
a:hover{
    text-decoration: underline;
}

#loginpage h2{ 
    color: #737373;
    font-size: 16px;
    margin-top: 50px;
}
#loginpage h2 a{ 
    color: white;
    font-size: 16px;
}
#loginpage p{
    font-size: 13px;
    color: #8c8c8c;
}
#loginpage p a{
    color: #0071eb;
}

footer{
    font-size: 14px;
    color: #737373;
    background-color: rgba(0,0,0,.75);
    margin-top: 100px;
    text-align: left;
    padding: 30px 200px 0px 200px;
    justify-content: center;
    line-height: 25px;
}

footer li{
    list-style-type: none;
}

footer a{
    color: #737373;
}

.numero{
    font-size: 18px;
}

footer p{
    font-size: 18px;
    margin-bottom: 25px;
}

ul{
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    margin: 0 30px 0 0;
}

#language2{
    width: 150px;
    height: 50px;
    color: #999;
    background-color: rgba(0,0,0,.4);
    border: 0.5px solid #333;
    margin-right: 35px;
    font-weight: 400;
    font-size: 17px;
    border-radius: 3px;
    margin-top: 50px;
    margin-bottom: 33px;
}

#language2 option{
    background-color: black;
}
