/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; 
} 

body{
    font-size: 1.6em;
    font-family: 'Poppins', sans-serif;
}

span{
    color: #ffbb00;
}

/* CABEÇALHO */

header{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 8rem;
}

nav ul{
    display: flex;
    gap: 4rem;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.7rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid transparent;
    transition: 0.4s ease;
    transition-property: border-bottom;
}
nav ul li a:hover{
    border-bottom: 2px solid #fff;
}

/* MAIN */

main{
    background-color: #111111;
    padding: 4rem 7.7rem;
}

.introducao h2{
    color: #fff;
    font-size: 2.4rem;
    color: #b2b2b2;
    font-weight: 400;
}

.introducao h1{
    color: #fff;
    font-size: 6rem;
    font-weight: 600;
    position: relative;
}

/* .introducao h1::after{
    content: "";
    position: absolute;
    background-image: url("../img/dec.svg");
    background-repeat: no-repeat;
    width: 5.2rem;
    height: 5.2rem;
    top: -20px;
    right: 2rem;
    opacity: 1;
    transform: rotateX(180deg) rotateY(180deg);
} */

/* SECAO BICICLETAS */

.bicicletas{
    width: 100%;
    height: 100%;
}
.bicicletas img{
    object-fit: cover;
    width: 100%;
}

.nimbus, .magic, .nebula{
    display: flex;
    height: 50rem;
    padding: 8rem 8rem 8rem 7.5rem;
}

.informacoes{
    padding: 2rem 0rem 2rem 4rem;
    position: relative;
}

.detalhes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}


/* .informacoes::after{
    content: "";
    position: absolute;
    background-image: url("../img/dec.svg");
    background-repeat: no-repeat;
    width: 5.2rem;
    height: 5.2rem;
    top: -20px;
    left: 65rem;
    opacity: 0.3;
    transform: rotateX(180deg) rotateY(180deg);
} */

.informacoes h1{
    color: #111111;
    font-size: 3.0rem;
    font-weight: 600;
    position: relative;
}

.informacoes h1::before{
    content: "";
    width: 14px;
    height: 6px;
    background-color: #f0b002;
    display: block;
    position: absolute;
    top: -10px;
}

.informacoes h1::after{
    content: "R$ 4999";
    width: 75px;
    height: 25px;
    border-radius: 3px 0px 0px 3px;
    padding: 0.5rem;
    background-color: #000;
    color: #fff;
    display: inline-block;
    position: absolute;
    font-size: 1.6rem;
    top: 0px;
    left: -125px;
    font-weight: bold;
}

.informacoes h2{
    font-size: 1.7rem;
    padding: 3rem 0rem;
    font-weight: 400;
    color: #595959;
    font-family: 'Roboto';
}

.informacoes ul{
    list-style: none;
}

.informacoes li{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0rem;
    color: #595959;
    font-size: 1.8rem;
}

.informacoes ul li img{
    width: 24px;
}

.informacoes a{
    color: #332200;
    background: linear-gradient(#ffbf00, #f2a50c);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1.7rem 5.8rem 1.7rem 4rem;
    display: inline-block;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-self: flex-end;
    margin-bottom: 0.5rem;
}

.informacoes a::after{
    display: inline-block;
    content: "";
    background-image: url('../img/seta.svg');
    width: 18px;
    height: 10px;
    position: absolute;
    right: 32px;
    transition: 0.3s;
}

.informacoes a:hover{
    background: linear-gradient(#ebb105, #cf8d08);
}
    
.informacoes a:hover::after{
    right: 25px;
}

.magic{
    background-color: #111111;
    color: #b2b2b2;
    box-shadow: inset 35rem 0px #fff;
}

.magic h1{
    color: #fff;
}

.magic h2, .magic li{
    color: #b2b2b2;
}

.magic .informacoes h1::after{
    content: "R$ 2499";
}

.nebula .informacoes h1::after{
    content: "R$ 3999";
}

.preco{
    display: none;
}


/* FOOTER */

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem;
    background-color: #000;
}

footer li{
    padding: 1rem;
    color: #fff;
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: #b2b2b2;
}

footer hr{
    border: 1px solid #111;
    width: 30rem;
}

footer p{
    color: #b2b2b2;
    text-align: left;
    grid-column: 1;
}

footer ul .sociais{
    margin-top: 1.5rem;
    display: flex;
}

@media (max-width: 1110px) {
    .detalhes{
        grid-template-columns: 1fr;
    }
    .informacoes a {
        justify-self: flex-start;
        margin-bottom: 0rem;
        margin-top: 2rem;
    }
    .introducao h1 {
        font-size: 5rem;
    }
    .introducao h2 {
        font-size: 2rem;
    }
    .nimbus, .magic, .nebula {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 8rem 4rem;
        height: auto;
    }
    .magic {
        box-shadow: none;
    }
    .bicicletas img.bike{
        width: 90%;
        margin: 0 auto;
        height: 45rem;
    }

    .informacoes h1::after{
        display: none;
    }

    .informacoes h1 span{
        padding-left: 2rem;
        color: #111;
        font-size: 2rem;
    }

    .magic h1 span{
        color: #fff;
    }
    .preco{
        display: inline-block;
    }
}

@media (max-width: 950px){
    main {
        padding: 4rem 3rem;
    }
}

@media (max-width: 815px){
    header{
        padding: 3rem 4rem;
    }
    nav ul{
        gap: 2rem;
    }
    nav ul li a{
        background-color: #111111;
        padding: 1rem 2rem;
    }

    .introducao h1{
        font-size: 4rem;
    }
    .introducao h2{
        font-size: 2rem;
    }
    .introducao h1 {
        font-size: 4rem;
    }
}

@media (max-width: 620px) {
    header{
        padding: 3rem 1rem;
    }
    nav ul li a{
        padding: 0.8rem 1.5rem;
        font-size: 1.3rem;
    }

    footer{
        grid-template-columns: 1fr;
        text-align: center;
        align-items: center;
        justify-items: center;
    }
    footer ul .sociais {
        justify-content: center;
        flex-wrap: wrap;
    }

    .form {
        grid-template-columns: 1fr;
        gap: 0px 2rem;
        position: relative;
    }

    .introducao h2 {
        font-size: 1.5rem;
    }

    .introducao h1 {
        font-size: 3rem;
    }
    .introducao h1 {
        font-size: 3rem;
    }
}

@media (max-width: 475px) {
    header{
        flex-direction: column;
        gap: 3rem;
    }
}

@media (max-width: 340px) {
    nav ul{
        gap: 1rem;
    }

    footer hr{
        width: 25rem;
    }
    .introducao h1{
        font-size: 3rem;
    }
    .introducao h2{
        font-size: 1.5rem;
    }
}

@media (max-width: 320px) {
    nav ul{
        flex-direction: column;
        gap: 3rem;
    }

    nav ul li a{
        display: inline-block;
        width: 10rem;
        text-align: center;
    }
}