* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 800;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 900;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}



body{
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px 15px 40px;
    border-bottom: 1px solid #e6e6e6;
}
header img{
    height: 45px;
    width: 167px;
}

#entrar a{
    text-decoration: none;
    font-size: 19px;
    font-weight: 700;
    color: #333333;
}

#entrar:hover{
    text-decoration: underline;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    width: 480px;
}

#pagamento  a{
    text-decoration: none;
}

#cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#cabecalho img{
    height: 50px;
    width: 50px;
    margin-bottom: 45px;
}

#cabecalho h3{
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
}

#cabecalho h1{
    font-size: 32px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 15px;
    text-align: center;
}

#cabecalho h3.forma{
    font-size: 18px;
    color: #333333;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 21px;
    text-align: center;
}

#cabecalho h2{
    font-size: 18px;
    color: #333333;
    font-weight: 600;
}

#cabecalho .cripto{
    margin-left: 330px;
    margin-top: 25px;
    font-size: 12px;
    color: #333333;
}

#cabecalho .cripto img{
    width: 13px;
    height: 13px;
    margin: 0;
}

#pagamento h1{
    font-size: 16px;
    color: #333333;
    line-height: 20px;
    font-weight: 400;
}

#pagamento .cartao{
    cursor: pointer;
    padding: 20px 20px 10px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    position: relative;
}

#pagamento .cartao img{
    width: 40px;
    height: 35px;
}

.cartao img#img{
    margin-left: 186px;
    margin-bottom: 20px;
    width: 30px;
    height: 20px;
}

#pagamento .prepago h1 img{
    vertical-align: middle;
    margin-left: 10px;
    width: 40px;
    height: 30px;
}

#pagamento .prepago{
    display: flex;
    margin-top: 5px;
    cursor: pointer;
    padding: 15px 20px 15px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.prepago img.img2{
    margin-top: 5px;
    margin-left: 170px;
    width: 30px;
    height: 20px;
}

footer{
    font-size: 14px;
    color: #737373;
    background-color: #f3f3f3;
    margin-top: 100px;
    text-align: left;
    padding: 40px 60px 0px 60px;
    justify-content: center;
    line-height: 30px;
}

footer li{
    list-style-type: none;
}

footer a{
    color: #737373;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

.numero{
    font-size: 18px;
}

footer p{
    font-size: 18px;
    margin-bottom: 25px;
}

ul{
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    margin: 0 30px 0 0;
}

#language2{
    width: 150px;
    height: 50px;
    color: #737373;
    background-color: #fff;
    border: 1px solid #a6a6a6;
    margin-right: 35px;
    font-weight: 400;
    font-size: 17px;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#language2 option{
    background-color: white;
}

@media (max-width: 600px){
    main{
        width: 85vw;
    }
    ul{
        display: flex;
        width: auto;
    }
}

@media (max-width: 565px){
    #cabecalho h1{
        font-size: 26px;
    }
    .cartao{
        margin-top: 20px;
    }
    .prepago img.img2{
        margin-top: 15px;
    }
    .cartao img#img{
        position: absolute;
        top: 38px;
        right: 20px;
    }
}
@media (max-width: 520px){
    .prepago img.img2{
        margin-left: 120px;
    }
}
@media (max-width: 390px){
    #cabecalho {
        margin: 0px 50px;
    }
    #cabecalho .cripto{
        margin-left: 260px;
    }
}
@media (max-width: 320px){
    #cabecalho .cripto{
        margin-left: 200px;
    }
}