* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 800;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 900;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}


body{
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 400;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px 15px 40px;
    border-bottom: 1px solid #e6e6e6;
}
header img{
    height: 45px;
    width: 167px;
}

#entrar a{
    text-decoration: none;
    font-size: 19px;
    font-weight: 700;
    color: #333333;
}

#entrar:hover{
    text-decoration: underline;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    width: 900px;
}

#cabecalho{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px 0px;
    width: 90vw;
}

#cabecalho img{
    height: 50px;
    width: 50px;
}

#cabecalho h3{
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
}

#cabecalho h1{
    font-size: 32px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 20px;
}

#cabecalho p{
    font-size: 18px;
    color: #333333;
}

#cabecalho .descricao img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.img{
    display: flex;
}

.paragrafos{
    float: right;
}

#planos{
    display: flex;
    gap: 80px;
    margin-left: 300px;
    margin-bottom: 25px;
    height: 120px;
    background-color: white;
}

#basico, #padrao, #premium{
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.assistir2, span.downloads2{
    display: none;
}
#planos button:focus ~ span{
    color: #e50914;
}
#planos button:focus ~ .assistir2{
    display: block;
}
#planos button:focus ~ .downloads2{
    display: block;
}
#planos button:focus ~ .assistir{
    display: none;
}
#planos button:focus ~ .downloads{
    display: none;
}

#basico button{
    background-color: #e50914;
    border-radius: 2px;
    padding: 29px 30px;
    width: 120px;
    text-align: center;
    opacity: 0.6;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    z-index: 2;
}

#padrao button{
    background-color: #e50914;
    border-radius: 2px;
    padding: 49px 30px;
    width: 120px;
    opacity: 0.6;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}
#premium button{
    background-color: #e50914;
    border-radius: 2px;
    padding: 49px 30px;
    width: 120px;
    opacity: 0.6;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}

.triangulo{
    display: none;
    width: 0px; 
    height: 0px; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #e50914;
    margin-left: 50px;
  }

#planos button:focus{
    opacity: 1;
    box-shadow: -0.5px 0.5px 3px 0px rgba(0,0,0,0.53);
}

#planos button:focus + .triangulo{
    display: flex;
}

#planos button{
    position: sticky;
    top: 0;
    z-index: 1;
}

#planos .triangulo{
    position: sticky;
    top: 118px;
}

#descricao{
    width: 90vw;
}
#descricao .lista{
    list-style-type: none;
    font-size: 16px;
    color: #333333;
    padding: 17px 0px 17px 0px;
    border-bottom: 1px solid #ccc;
}

#descricao #notborda{
    border-bottom: none;
    padding: 17px 0 5px 0;
}

span{
    font-size: 16px;
    font-weight: 600;
    color: #535353;
    position: relative;
    text-align: center;
}

span.precos{
    top: 46px;
}

span.qualidades{
    top: 80px;
}
span.resolucoes{
    top: 118px;
}

span.assistir, .assistir2{
    top: 148px;
}

span.downloads, .downloads2{
    top: 175px;
}

#final{
    font-size: 13px;
    color: #6e6e6e;
    width: 90vw;
}

#final a{
    text-decoration: none;
    color: #0071eb;
}

#final a:hover{
    text-decoration: underline;
}


#aviso{
    background-color: #f3f3f3;
    margin: 0px 0px 15px 0px;
    padding: 10px;
}

#paragrafo input{
    cursor: pointer;
    background-color: #e50914;
    font-size: 24px;
    color: white;
    border-radius: 4px;
    height: 64px;
    width: 400px;
    margin: 15px 0 80px 30%;
    text-align: center;
}

footer{
    font-size: 14px;
    color: #737373;
    background-color: #f3f3f3;
    margin-top: 100px;
    text-align: left;
    padding: 40px 60px 0px 60px;
    justify-content: center;
    line-height: 30px;
}

footer li{
    list-style-type: none;
}

footer a{
    color: #737373;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

.numero{
    font-size: 18px;
}

footer p{
    font-size: 18px;
    margin-bottom: 25px;
}

ul{
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    margin: 0 30px 0 0;
}

#language2{
    width: 150px;
    height: 50px;
    color: #737373;
    background-color: #fff;
    border: 1px solid #a6a6a6;
    margin-right: 35px;
    font-weight: 400;
    font-size: 17px;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#language2 option{
    background-color: white;
}

@media (max-width: 600px){
    main{
        width: 80vw;
    }
    ul{
        display: flex;
        width: auto;
    }
}
@media (max-width: 950px){
    #premium button, #padrao button, #basico button{
        width: 95px;
        height: 50px;
        padding: 0px;
    }
    #planos{
        gap: 20px;
    }
    
}
@media (max-width: 920px){
    main{
        width: 80vw;
    }
    #paragrafo input{
        margin: 15px 0 80px 120px;
    }
}

@media (max-width: 600px){
    #paragrafo input{
        font-size: 20px;
        height: 64px;
        width: 50vw;
        text-align: center;
    }
}
@media (max-width: 400px){
    #paragrafo input{
        margin: 15px 50px 85px 80px;
    }
}